In [1]:
# imports 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import sqrt
from datetime import datetime, timedelta
import seaborn as sns
import scipy as sp

In [3]:
# load the dataset and observe the data
df = pd.read_csv(r'sales_train.csv')
df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

# Missing data

In [4]:
# 1st approach: find missing values
df.isnull().sum()

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

In [5]:
# 2nd approach: find missing values (enhanced version)
missing_values = ['n/a','na','missing','nan','']
df_temp = pd.read_csv(r'sales_train.csv', na_values=missing_values)
missing_data = df_temp.isnull()
# missing_data.head()
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print('-----------')

date
False    2935849
Name: date, dtype: int64
-----------
date_block_num
False    2935849
Name: date_block_num, dtype: int64
-----------
shop_id
False    2935849
Name: shop_id, dtype: int64
-----------
item_id
False    2935849
Name: item_id, dtype: int64
-----------
item_price
False    2935849
Name: item_price, dtype: int64
-----------
item_cnt_day
False    2935849
Name: item_cnt_day, dtype: int64
-----------

# Errors in dataset

observe columns for integrity

In [6]:
#date,date_block_num,shop_id,item_id,item_price,item_cnt_day

print('df["date_block_num"].unique() = {}, with length = {}'.format(df['date_block_num'].unique(),len(df['date_block_num'].unique())))
print('-------------------------------------------------------------')
print('df["shop_id"].unique() = {}, with length = {}'.format(sorted(df['shop_id'].unique()),len(df['shop_id'].unique())))
print('-------------------------------------------------------------')
print('df["item_id"].unique() = {}, with length = {} and (min,max)=({},{})'.format(df['item_id'].unique(),len(df['item_id'].unique()), min(df['item_id'].unique()),max(df['item_id'].unique())))
print('-------------------------------------------------------------')
print('df["item_cnt_day"].unique() = {}'.format(df['item_cnt_day'].unique()))
print('-------------------------------------------------------------')

df["date_block_num"].unique() = [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33], with length = 34
-------------------------------------------------------------
df["shop_id"].unique() = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59], with length = 60
-------------------------------------------------------------
df["item_id"].unique() = [22154  2552  2554 ...  7610  7635  7640], with length = 21807 and (min,max)=(0,22169)
-------------------------------------------------------------
df["item_cnt_day"].unique() = [ 1.000e+00 -1.000e+00  3.000e+00  2.000e+00  4.000e+00  5.000e+00
  1.300e+01  7.000e+00  6.000e+00  8.000e+00  1.000e+01  1.100e+01
  3.000e+01  2.200e+01  1.400e+01  1.500e+01  9.000e+00  1.200e+01
  1.700e+01  1.900e+01  2.000e+01 -5.000e+00 -6.000e+00 -3.000e+00
 -2.000e+00  1.600e+01  6.400e+01  1.800e+01  2.900e+01  2.600e+01
  3.900e+01  2.100e+01  2.700e+01  5.300e+01  2.500e+01  2.300e+01
  2.400e+01  4.000e+01  2.800e+01  3.100e+01  3.600e+01 -4.000e+00
  3.200e+01  3.500e+01  4.100e+01  8.800e+01  4.400e+01  5.200e+01
  5.600e+01  3.800e+01  3.400e+01  5.700e+01  6.900e+01  3.700e+01
  4.700e+01  5.000e+01  4.800e+01  3.300e+01  6.100e+01  8.000e+01
  4.200e+01  8.200e+01  2.000e+02  1.000e+02  7.600e+01  7.700e+01
  1.070e+02  4.600e+01  4.900e+01  7.000e+01  5.500e+01  6.000e+01
  4.500e+01  7.100e+01  6.500e+01  1.500e+02  8.500e+01  8.900e+01
  4.300e+01  5.800e+01  2.170e+02  1.040e+02  8.400e+01  1.680e+02
  9.200e+01  1.560e+02  6.800e+01  6.200e+01  2.640e+02  1.100e+02
  8.300e+01  1.330e+02  5.100e+01  1.480e+02  5.400e+01  6.700e+01
  1.060e+02  1.090e+02  1.020e+02  9.000e+01  2.880e+02  1.710e+02
  1.310e+02  8.700e+01  7.800e+01  1.510e+02  5.900e+01  1.130e+02
  1.180e+02  1.270e+02  9.700e+01  1.350e+02 -2.200e+01  1.030e+02
  1.110e+02  9.600e+01  2.420e+02  1.050e+02  7.200e+01  1.260e+02
  7.300e+01  1.010e+02  9.100e+01  6.300e+01  1.940e+02  2.550e+02
  9.800e+01  8.100e+01  7.500e+01  7.400e+01  1.210e+02  4.050e+02
  9.900e+01  3.000e+02  4.010e+02  5.020e+02  1.380e+02  1.340e+02
  6.600e+01  2.400e+02  1.300e+02  1.150e+02  1.640e+02  1.120e+02
  5.010e+02  2.510e+02 -1.600e+01  9.300e+01  1.240e+02  1.490e+02
  1.320e+02  1.950e+02  5.120e+02 -9.000e+00  5.080e+02  4.120e+02
  3.130e+02  1.280e+02  1.420e+02  1.630e+02  1.080e+02  1.470e+02
  1.670e+02  8.600e+01  7.900e+01  5.000e+02  2.050e+02  1.530e+02
  1.000e+03  2.220e+02  1.160e+02  3.250e+02  2.070e+02  1.290e+02
  2.310e+02  1.140e+02  2.990e+02  1.450e+02  1.170e+02  6.240e+02
  1.870e+02  1.400e+02  4.800e+02  3.430e+02  5.390e+02  2.300e+02
  1.790e+02  9.500e+01  1.540e+02  5.330e+02  1.390e+02  6.370e+02
  1.460e+02  6.690e+02  1.570e+02  5.040e+02  1.610e+02  2.169e+03]
-------------------------------------------------------------

delete negative value in column 'item_price' (it is an outlier)

In [7]:
# df['item_price'].lt(0).sum()
print(sum(df['item_price']<0))
df_negative = df.index[df['item_price'] < 0]
print(df_negative)

1
Int64Index([484683], dtype='int64')

In [8]:
df.iloc[484683]

date              15.05.2013
date_block_num             4
shop_id                   32
item_id                 2973
item_price              -1.0
item_cnt_day             1.0
Name: 484683, dtype: object

In [9]:
df = df.drop([484683])
df = df.reset_index()

1st approach: replace negative values in column 'item_cnt_day' with zeros

In [10]:
df_neg2zeros = df.copy(deep=True)
df_neg2zeros.loc[df_neg2zeros['item_cnt_day'] < 0,'item_cnt_day'] = 0

2nd approach: replace negative values in column 'item_cnt_day' with their absolute value

In [11]:
df_neg2pos = df.copy(deep=True)
df_neg2pos['item_cnt_day']=df_neg2pos['item_cnt_day'].apply(lambda x:abs(x))

# Outliers

use 2 new dfs

In [16]:
df_temp = df_neg2pos.groupby(['date_block_num','shop_id','item_id'])['item_cnt_day'].sum()

In [19]:
df_temp

date_block_num  shop_id  item_id
0               0        32         6.0
                         33         3.0
                         35         1.0
                         43         1.0
                         51         2.0
                                   ...
33              59       22087      6.0
                         22088      2.0
                         22091      1.0
                         22100      1.0
                         22102      1.0
Name: item_cnt_day, Length: 1609124, dtype: float64

In [33]:
df_temp[0][0]

item_id
32        6.0
33        3.0
35        1.0
43        1.0
51        2.0
         ...
22134    13.0
22135     2.0
22140     1.0
22151    20.0
22160     1.0
Name: item_cnt_day, Length: 2385, dtype: float64

In [99]:
df['item_cnt_day'].value_counts()

1.0       2629371
2.0        194201
3.0         47350
4.0         19685
5.0         10474
           ...
251.0           1
501.0           1
112.0           1
164.0           1
2169.0          1
Name: item_cnt_day, Length: 198, dtype: int64

# Time Series Analysis

- 2014 - 2015 russian financial crisis
- October -> russian october revolution (e.g 20)
- (some shops opened for just one month e.g. 11)

In [30]:
df.groupby(by='shop_id')['item_cnt_day'].count()

shop_id
0       9857
1       5678
2      25991
3      25532
4      38242
5      38179
6      82663
7      58076
8       3412
9       3751
10     21397
11       499
12     34694
13     17824
14     36979
15     59511
16     52734
17     22950
18     53227
19     63911
20      1792
21     58133
22     45434
23      6963
24     53032
25    186104
26     53910
27    105366
28    142234
29     49225
30     50860
31    235636
32      7947
33      5027
34      5752
35     58445
36       306
37     39638
38     46013
39     13440
40      4257
41     41967
42    109253
43     39282
44     39530
45     35891
46     66321
47     56695
48     21612
49     15849
50     65173
51     44433
52     43502
53     52921
54    143480
55     34769
56     69573
57    117428
58     71441
59     42108
Name: item_cnt_day, dtype: int64

In [19]:
shop_df = df.groupby(by='shop_id')
shop_df.first()

               date  date_block_num  item_id  item_price  item_cnt_day
shop_id
0        12.01.2013               0    11059       73.00           1.0
1        14.01.2013               0     8070      137.00           1.0
2        14.01.2013               0    11330      149.00           1.0
3        26.01.2013               0    13102     1290.00           1.0
4        12.01.2013               0     5605      489.30           1.0
5        21.02.2013               1     2750     2499.00           1.0
6        03.01.2013               0       32      349.00           1.0
7        09.01.2013               0     2441     1199.00           1.0
8        21.01.2013               0    11017      199.00           1.0
9        05.10.2013               9    16205      299.00           2.0
10       26.01.2013               0     6000      190.00           1.0
11       27.02.2015              25    22162      237.11           1.0
12       15.01.2013               0     9999      149.00          -1.0
13       20.01.2013               0    22151      268.00           1.0
14       04.01.2013               0     4372     1999.00           1.0
15       06.01.2013               0    19365      349.00           1.0
16       18.01.2013               0     1915      249.00           1.0
17       15.06.2013               5    13735      419.30           1.0
18       05.01.2013               0    22091      109.00           2.0
19       26.01.2013               0    19164      399.00           4.0
20       05.10.2014              21    13584     1799.00           2.0
21       26.01.2013               0    22151      399.00           1.0
22       15.01.2013               0      464      299.00           1.0
23       15.01.2013               0    21567      379.00           1.0
24       27.01.2013               0     4481     1699.00           1.0
25       03.01.2013               0     2552      899.00           1.0
26       19.01.2013               0    12691      449.00           1.0
27       27.01.2013               0    22130      349.00           1.0
28       05.01.2013               0     7738      199.00           1.0
29       09.01.2013               0      991       99.00           1.0
30       15.01.2013               0     7510      199.00           1.0
31       03.01.2013               0     4906     1794.00           2.0
32       11.01.2013               0     3897      399.00           1.0
33       31.08.2014              19    20242      299.00           1.0
34       31.07.2014              18    20949        5.00           1.0
35       05.01.2013               0     6740      499.00           3.0
36       28.10.2015              33       33      199.00           1.0
37       28.01.2013               0     4885      899.00           1.0
38       26.01.2013               0    22154      999.00           1.0
39       02.03.2014              14     1324      499.00           1.0
40       12.03.2014              14    10376      399.00           1.0
41       05.01.2013               0     2956      598.50           1.0
42       01.01.2013               0    16920      547.50           1.0
43       19.01.2013               0    13482    13990.00           1.0
44       18.01.2013               0     2703      599.00           1.0
45       18.01.2013               0     3718      349.00           2.0
46       02.01.2013               0    15847      149.00           1.0
47       02.01.2013               0    11645      299.00           1.0
48       26.04.2014              15    19900      169.00           1.0
49       28.12.2013              11    16209      299.00           1.0
50       28.01.2013               0     5612     3990.00           2.0
51       26.01.2013               0    22088       44.00           3.0
52       30.01.2013               0     8935      199.00           1.0
53       30.01.2013               0    16020      299.00           1.0
54       20.01.2013               0    21616      549.00           1.0
55       06.05.2013               4    15074      119.00           1.0
56       17.01.2013               0     1893     1999.00           1.0
57       09.03.2013               2     4164      999.00           1.0
58       15.03.2013               2     8985      349.00           1.0
59       02.01.2013               0    22154      999.00           1.0

In [36]:
shop_df.get_group(54).groupby(by='date_block_num')['item_cnt_day'].count()

date_block_num
0     7526
1     6359
2     7299
3     5553
4     5595
5     6152
6     5755
7     6329
8     5480
9     4990
10    5646
11    7376
12    6327
13    4691
14    5159
15    4122
16    4344
17    4866
18    4323
19    4845
20    3572
21    3706
22    4466
23    5693
24    4855
25    3769
26    4012
27     670
Name: item_cnt_day, dtype: int64